<!DOCTYPE html>
<html>

<head>
    <title>Intro to Node and MongoDB</title>
</head>

<body>
    <h1>Notes</h1>
    <ul>

    <% data.forEach(function(item) { %>
    <li><%= item.name %> </li>
<% }); %>
    </ul>
    <a href="/create">Create note</a>

</body>

</html>